/* services section */
.services-section {
    width: 100%;
    height: 80px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    overflow: hidden;
}

.services-list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0 40px;
    gap: 80px;
    animation: scrollLeft 20s linear infinite;
    white-space: nowrap;
}

.services-list li {
    font-size: 32px;
}

/* scroll down section */
.scroll-down {
    display: flex;
    font-size: 16px;
    color: var(--white);
    gap: 10px;
}

/* scroll effect */
@keyframes scrollLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}