@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap");

:root {
  --primary-color: #cdff00;
  --white: #fff;
  --black: #000;
  --dark-gray: #1a1a1a;

  --transition-smooth: 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  --spacing-default: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Funnel Display", sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}


body {
  min-height: 100vh;
  background-color: var(--black);
}